/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll to Top Button */
.scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.scrollToTopBtn:hover {
  background-color: #0056b3;
}

/* Hero Section Animation */
#hero {
  animation: fadeIn 2s ease-in-out;
  height: 32vh;
  display: flex;
  align-items: center;
}

.products-h2 {
  animation: fadeIn 1.5s ease-in-out;
}

footer {
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Featured Products Animation */
#products .card {
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Button Hover Effects */
.btn {
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Toast Animation */
.toast {
  animation: fadeInUp 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Popup Animation */
.popup {
  opacity: 0;
  transform: scale(0.7);
  animation: popupIn 0.5s forwards;
}

@keyframes popupIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.logo {
  margin-right: 7px;
}

.d-flex {
  gap: 10px;
}

.d-flex button {
  display: flex;
  padding: 5px 17px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.shoppingCartMenu {
  font-size: 23px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  color: white;
}

#navbarSupportedContent > i {
  display: none;
}

.loginBtn,
.signupBtn {
  display: none;
}

body.js-enabled .loginBtn,
body.js-enabled .signupBtn {
  display: block;
}

#products {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  gap: 15px;
  justify-content: center;
}

.card img {
  object-fit: contain;
  margin: auto;
  height: 100%;
}

.productButtons {
  display: flex;
  gap: 10px;
}

.productButtons a {
  width: 100%;
}

.card > span {
  width: 100%;
  height: 12rem;
  display: flex;
  padding: 11px;
}

.rating .fa-star,
.rating .fa-star-half-alt,
.rating .fa-star-o {
  color: gold;
}

.rating-price {
  display: flex;
  justify-content: space-between;
}

#loginPop {
  padding: 35px;
  height: 24.5rem;
  width: 20rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #292b2c;
  color: white;
  display: none;
}

.fa-xmark {
  float: right;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 7px;
  border-radius: 30px;
}

.fa-xmark:hover {
  background-color: #0275d8;
  transition: 0.2s all ease-in-out;
}

#loginPop h3 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

#loginPop form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#loginPop form input {
  padding: 5px 15px;
  border-radius: 30px;
  border: none;
  transition: box-shadow 0.5s;
  vertical-align: middle;
}

#loginPop form input[type="checkbox"] {
  padding: 0px;
}

#loginPop .remember-checkbox {
  margin-left: 5px;
  display: flex;
  gap: 6px;
  align-items: center;
}

#loginPop .createNowLinkSpan {
  margin-top: 25px;
  font-size: 14px;
  text-align: center;
}

#signUpPop {
  padding: 35px;
  height: 28rem;
  width: 20rem;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #292b2c;
  color: white;
  display: none;
}

#signUpPop h3 {
  margin-top: 15px;
  margin-bottom: 25px;
}

#signUpPop form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#signUpPop form input {
  padding: 5px 14px;
  border-radius: 30px;
  border: none;
}

#signUpPop form input[type="submit"] {
  margin-top: 20px;
}

#signUpPop .alreadyLogin {
  margin-top: 25px;
  font-size: 14px;
}

#emailError {
  display: flex;
  font-size: 13px;
  padding: 0px 10px;
}

#logged-in-profile {
  display: none;
  gap: 7px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  color: white;
}

.fa-circle-user {
  font-size: 25px;
  color: #0275d8;
  cursor: pointer;
}

.fa-right-from-bracket {
  font-size: 22px;
  color: red;
  margin-left: 15px;
  cursor: pointer;
}

/* Toast */
.toast {
  display: none;
  position: absolute;
  right: 10px;
  top: 70px;
}

.my-shake {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: easy-in;
  animation-iteration-count: unset;
  box-shadow: 0 0 0.8em red;
}

.remember-shake {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: easy-in;
  animation-iteration-count: unset;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-2deg);
  }
  25% {
    transform: 0deg;
  }
  37% {
    transform: rotate(2deg);
  }
  50% {
    transform: 0deg;
  }
  62% {
    transform: rotate(-2deg);
  }
  75% {
    transform: 0deg;
  }
  87% {
    transform: rotate(2deg);
  }
  100% {
    transform: 0deg;
  }
}

#pwdBar {
  margin-top: 3px;
  padding: 3px;
  display: none;
  border-radius: 10px;
}

.pwdStrength {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px 6px;
}

.showPwdIcon {
  position: absolute;
  right: 47px;
  color: #292b2c;
  top: 233px;
}

.shoppingCart {
  width: 23rem;
  max-height: 80vh;
  position: fixed;
  top: 56px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cartContent {
  flex: 1;
  overflow-y: auto;
}

.cartFooter {
  padding-top: 10px;
}

.shoppingCart h3 i {
  margin-right: 12px;
  font-size: 25px;
}

.shoppingCart.visible {
  transform: translateX(0);
}
.wishlistCart.visible {
  transform: translateX(0);
}

.cartContent {
  max-height: 50vh;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin-right: 10px;
}

.cartItem img {
  width: 80px;
  object-fit: contain;
  padding: 6px;
  height: 80px;
}

.cartItem div span {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 150px;
}

.cartItem div span input {
  width: 45px;
  height: 20px;
  text-align: center;
}

.cartQty,
.cartPrice {
  margin-bottom: 0px;
}

.cartItem i {
  cursor: pointer;
  margin-left: 10px;
}

.cartItem div {
  width: 47%;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.checkoutBtn {
  float: right;
}

.cart-count {
  position: absolute;
  display: none;
  top: 7px;
  right: 12px;
}

/* Media Queries for Responsiveness */

/* Extra Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .scrollToTopBtn {
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .shoppingCart {
    width: 100%;
    max-height: 60vh;
  }

  .shoppingCartMenu {
    margin-left: 0;
    margin-right: 0;
  }

  #loginPop,
  #signUpPop {
    width: 75%;
    padding: 20px;
    top: 30%;
    transform: translateX(-50%);
  }

  .navbar-brand {
    font-size: 1.25rem;
  }

  #hero {
    height: auto;
    padding: 50px 0;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 1rem;
  }

  #products .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .cartItem div {
    width: 100%;
  }

  .shoppingCartMenu {
    position: absolute;
    right: 25px;
    top: 136px;
  }

  .cart-count {
    top: 125px;
    z-index: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .scrollToTopBtn {
    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    font-size: 20px;
  }

  .shoppingCart {
    width: 80%;
    max-height: 70vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scrollToTopBtn {
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .shoppingCart {
    width: 60%;
    max-height: 80vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .scrollToTopBtn {
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .shoppingCart {
    width: 40%;
    max-height: 80vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .scrollToTopBtn {
    bottom: 60px;
    right: 60px;
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .shoppingCart {
    width: 20%;
    max-height: 80vh;
  }
}
